section.section-wrapper.feedback-section#feedback
  .container
    h2.section__title.feedback-section__title Отзывы
    .feedback
      each feedback in feedback_list
        if feedback.ava == 'alena'
          .feedback__panel(role='tabpanel' id="feedback-"+feedback.ava class="feedback__panel--active")
            .feedback__avatar-wrap
                img.feedback__avatar(src='img/img-ava-'+ feedback.ava +'.jpg')
            article.feedback__text
              h4.feedback__header= feedback.title
              p.feedback__msg= feedback.msg
              p.feedback__auth= feedback.auth
        else
          .feedback__panel(role='tabpanel' id="feedback-"+feedback.ava)
            .feedback__avatar-wrap
              img.feedback__avatar(src='img/img-ava-'+ feedback.ava +'.jpg')
            article.feedback__text
              h4.feedback__header= feedback.title
              p.feedback__msg= feedback.msg
              p.feedback__auth= feedback.auth

          
      .feedback__tablist(role='tablist')
        each feedback in feedback_list
          if feedback.ava == 'alena'
            button.feedback__tab(role='tab' data-tab data-tabpanel-id="feedback-"+feedback.ava class="feedback__tab--active")
              img.feedback__tabava(src='img/img-ava-'+ feedback.ava +'.jpg')
          
          else
            button.feedback__tab(role='tab' data-tab data-tabpanel-id="feedback-"+feedback.ava)
              img.feedback__tabava(src='img/img-ava-'+ feedback.ava +'.jpg')
          


